{% extends 'app/base.html' %}

{% block content %}
    <form method="POST" class="post-form" enctype="multipart/form-data">
        <h2>Editar Livro</h2>
        {% csrf_token %}

        {% if livro.imagem %}
            <img src="{{ livro.imagem.url }}" class="prod-size">
        {% endif %}
        <label>Imagem</label>
        <input name="image" type="file" class="form-control-file" value="{{ livro.imagem }}">

        <label>Título</label>
        <input required name="titulo" type="text" class="form-control" value="{{ livro.titulo }}">

        <label>Autor</label>
        <input required name="autor" type="text" class="form-control" value="{{ livro.autor }}">

        <label>Gênero</label>
        <input required name="genero" type="text" class="form-control" value="{{ livro.genero }}">

        <label>Série/Único</label>
        <input required name="serieunico" type="text" class="form-control" value="{{ livro.serieunico }}">

        <label>Nota</label>
        <input  name="nota" type="number" class="form-control" value="{{ livro.nota }}">

        <label>Opinião</label>
        <input required name="opiniao" type="text" class="form-control" value="{{ livro.opiniao }}">

        <button type="submit">Salvar</button>
    </form>
{% endblock %}