.page-header {
    background-color: #9C08B2;
    padding: 7px 18px 19px 30px;
    margin: 0;
}

.page-header h1 a {
    margin: 2px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36px;
    text-decoration: none;
}

.content {
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: 'Lobster', cursive;
}


.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
    margin-top: 20px;
}

.livro {
    margin-bottom: 70px;
    display: inline;
}

.livro h2 a, .post h2 a:visited {
    color: #000000;
}

img {
    width: 200px;
    height: 300px;
    margin: 15px;
}

.conteudo img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.conteudo h2, .corpo, .post-form h2 {
    text-align: center;
}

label {
    margin-top: 22px;
    margin-bottom: 8px;
}

.post-form button {
    margin-right: 28px;
    margin-top: 18px;
    background-color: #E957FF;
    border: none;
    color: white;
    padding: -1px;
    width: 90px;
    height: 45px;
    text-decoration: none;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    border-radius: 12px;
}

.botoes {
    text-align: center;
    margin-top: 20px;
}

.botoes a {
    margin-left: 10px;
    margin-right: 10px;
}
/*
.page-header {
    background-color: #9C08B2;
}

.page-header a h1{
    color: white;
    font-size: 30px;
    margin-left: 9px;
    font-family: 'Lobster', cursive;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    text-decoration: none;
    display: inline-block;
    margin: 25px;
}

.top-menu input[type=button] {
    background-color: #E957FF;
    border: none;
    color: white;
    width: 123px;
    height: 37px;
    text-decoration: none;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    border-radius: 50px;
    margin-left: 911px;
}

.livro {
    display: inline;
}

img {
    width: 200px;
    height: 300px;
    margin: 10px;
}

.conteudo {
    display: inline-block;
}

.conteudo img {
    margin-top: -194px;
    margin-left: 34px;
}

.conteudo h2 {
    margin-top: 17px;
    margin-left: 34px;
    margin-bottom: 47px;
}

.conteudo .corpo {
    margin-left: 34px;
}

.post-form {
    margin-top: 24px;
    margin-left: 28px;
    margin-right: 28px;
}

.post-form h2 {
    margin-bottom: 21px;
    text-align: center;
}

.post-form input, .post-form label {
    margin-bottom: 10px;
}

.post-form input {
    font-size: 18px;
    font-weight: bold;
}

.post-form button {
    margin-right: 28px;
    margin-top: 18px;
    background-color: #E957FF;
    border: none;
    color: white;
    padding: -1px;
    width: 90px;
    height: 45px;
    text-decoration: none;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    border-radius: 12px;
}
*/