{% extends 'app/base.html' %}

{% block content %}
  <div class="livro">
    <div class="conteudo">
      <img src="{{ livro.imagem.url }}">
    </div>

    <div class="conteudo">
      <h2>{{ livro.titulo }}</h2>
      <div class="corpo">
        <p><strong>Autor(a):</strong> {{ livro.autor }}</p>
        <p><strong>Gênero:</strong> {{ livro.genero }}</p>
        <p><strong>Série/Único:</strong> {{ livro.serieunico }}</p>
        <p><strong>Nota:</strong> {{ livro.nota }}</p>
        <p><strong>Opinião:</strong> {{ livro.opiniao }}</p>
      </div>
    </div>
  </div>

  <div class="botoes">
    <a href="{% url 'livro_edit' pk=livro.pk %}" class="btn btn-primary">Editar</a>
    <a href="{% url 'livro_delete' pk=livro.pk %}" class="btn btn-danger btnDel">Deletar</a>
  </div>

{% load static %}
<script src="{% static 'js/javascript.js' %}"></script>

{% endblock %}